<div class="jumbotron">
  <h3 class="display-3">Crud - Páginas</h3>
  <p class="lead">
    Este CRUD deverá gerenciar Páginas Web que são composta
    pela model página, configuração da página e tag da página. Uma página poderá ter
    uma configuração e N tags.
    <ul>
      <li>A página terá os atributos nome e slug;</li>
      <li>A configuração da página deverá conter o título, descrição, palavras chaves em uma tabela diferente relacionada a tabela pages;</li>
      <li>A página poderá ter várias tags e a tag com atributo nome;</li>
      <li>Deve ser possível pela interface adicionar, deletar, visualizar e editar uma página, onde na visualização devem ser listada as tags desta página e sua configuração;</li>
      <li>À uma página pode ser adicionada N tags;</li>
      <li>Em uma próxima feature usaremos a tag para marcar outra entidade;</li>
      <li>Deverá ser possível adicionar, visualizar, editar e deletar uma tag;</li>
    </ul>

  </p>
</div>
