// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";

.white {
  color: #FFF !important;
}

main {
  margin: 20px;
}

.multiselect{
  min-width: 300px;
}


.crud_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
.crud_pagination a, .crud_pagination span {
  padding: 0.2em 0.3em; }
.crud_pagination .disabled {
  color: #aaaaaa; }
.crud_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.crud_pagination a {
  text-decoration: none;
  color: black; }
.crud_pagination a:hover, .crud_pagination a:focus {
  text-decoration: underline; }
