<li class="nav-item">
  <%= link_to "Tags", tags_path, :class => "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "Configurações de Paǵinas", configuracao_paginas_path, :class => "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "Páginas", paginas_path, :class => "nav-link" %>
</li>


